<!-- Import the header module -->
<%- include('header'); -%>

<body>

    <!-- Navigation -->
    <article class="nav">
        

        <!-- Logo -->
        
        <article class="logo neonText">
            <h1><a href="/" >NEON</a></h1>
        </article>
    </article>

    <!-- =========  Filter    ============== -->
    <article class="filter">
        <p>Filters: </p>
        <a  class="btn btn-one" href="/">All</a>
        <a  class="btn btn-one" href="/wisdom">Wisdom</a>
        <a  class="btn btn-one" href="/Web">Web</a>
        <a  class="btn btn-one" href="/Problems">Problems</a>
        <a  class="btn btn-one" href="/books">Books</a>

    </article>

    <main class="main">

        <!-- Defining a template for adding new Journals -->
        <% if (isFilterEmptyHTML) {   %>
            <p class="filter-empty">No journal available of this kind</p>
        <%  } else { %>
        
            <% for (let i = noteBookHTML.length-1; i >= 0 ; i--) {   %>

                <section class="card" id="card">

                    <form class="delete-journal" action="/delete" method="post">
                        <p class="tag">  <%= noteBookHTML[i].tag %>   </p>
                        <button class="delete-btn" type="submit" name="delete" value="<%= noteBookHTML[i].id %>"   onClick="makeRed()">&#10006;</button>
                    </form>
    
                    <h1>   <%= noteBookHTML[i].title %>   </h1>
                    <p>   
                        <%= noteBookHTML[i].textArea.substring(0, 100) + " ..." %> 
                        <a  class="read-more" href="/added/<%= noteBookHTML[i].title %> ">Read More</a>
                    </p>
        
                    <section class="day-time">
                        <i class="fa-solid fa-clock"></i>
                        <%= noteBookHTML[i].date %>   
                    </section>

                </section>

            <%  }  %>
        <%  }  %>

        <!-- =============== Add Button ===============  -->
        <div class="new-notes">
            <a href="/new"><i class="fas fa-plus"></i></a>
        </div>



        <!-- <section class="card">
            <h1>Get 100% bonus welcome bonus</h1>
            <p>Deposit $100 and get $100 free</p>
        </section>

        <section class="card">
            <h1>Get 100% bonus welcome bonus</h1>
            <p>Deposit $100 and get $100 free</p>
        </section> -->

        <!-- <div class="dummy">1</div> -->
    </main>

<!-- </body>

</html> -->

<%- include('footer'); -%>

<!-- 
    Features
        Signup
        Contact Us: through email
        Add, edit and Delete notes
        Can use the PixaBay API to give a new image to each note
        Can add date select feature
        Topics tags
        Search by tags
        Different ways to see all the note:
            like grid or one by one

 -->

 <!-- active tag is not working -->


 <!-- <script>
    var buttons = document.querySelectorAll('.btn');
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            // console.log(buttons);
            toggleClass(buttons, this);
        });
    });

    function toggleClass(buttons, buttonToActivate) {
    buttons.forEach(function(btn) {
        btn.classList.remove('active');
    });
        buttonToActivate.classList.add('active');
    } 
</script>  -->



























