

<!-- Imported the header module -->
<%- include('header'); -%>

<body>

    <!-- Navigation -->
    <article class="nav">
        <!-- Main Nav -->
        <article class="main-nav">
            <input type="checkbox" id="active">
            <label for="active" class="menu-btn"><span></span></label>
            <label for="active" class="close"></label>
            <div class="wrapper">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
        </article>

        <!-- Logo -->
        <article class="logo neonText">
            <h1><a href="/">NEON</a></h1>
        </article>

    </article>

    <main class="main">

        <!-- Defining a template for adding new Journals -->
        <% for (let i = 0; i < noteBookHTML.length; i++) {   %>

            <section class="card">

                <p class="tag">  <%= noteBookHTML[i].journalTags %>   </p>
                <h1>   <%= noteBookHTML[i].title %>   </h1>
                <p>   
                    <%= noteBookHTML[i].textArea.substring(0, 100) + " ..." %> 
                    <a  class="read-more" href="/ <%= noteBookHTML[i].title %> ">Read More</a>
                </p>
    
                <section class="day-time">
                    <i class="fa-solid fa-clock"></i>
                    <%= noteBookHTML[i].time %>   
                </section>

            </section>

        <%  }  %>

        <section class="card">
            <p class="tag">first</p>
            <h1>IPL is day after tomorrow</h1>
            <p>Deposit $100 and get $100 free</p>

            <section class="day-time">
                <i class="fa-solid fa-clock"></i>
                Day Time
            </section>
        </section>

        <section class="card">
            <p class="tag">Tag</p>
            <h1>Get 100% bonus welcome bonus</h1>
            <p>Deposit $100 and get $100 free</p>

            <section class="day-time">
                <i class="fa-solid fa-clock"></i>
                Day Time
            </section>
        </section>

        <section class="card">
            <p class="tag">Tag</p>
            <h1>Get 100% bonus welcome bonus</h1>
            <p>Deposit $100 and get $100 free</p>

            <section class="day-time">
                <i class="fa-solid fa-clock"></i>
                Day Time
            </section>
        </section>

        <section class="card">
            <p class="tag">Tag</p>
            <h1>Get 100% bonus welcome bonus</h1>
            <p>Deposit $100 and get $100 free</p>

            <section class="day-time">
                <i class="fa-solid fa-clock"></i>
                Day Time
            </section>
        </section>

        <!-- Add Button -->
        <div class="new-notes">
            <a href="/new"><i class="fas fa-plus"></i></a>
        </div>



        <!-- <section class="card">
            <h1>Get 100% bonus welcome bonus</h1>
            <p>Deposit $100 and get $100 free</p>
        </section>

        <section class="card">
            <h1>Get 100% bonus welcome bonus</h1>
            <p>Deposit $100 and get $100 free</p>
        </section> -->

        <!-- <div class="dummy">1</div> -->
    </main>

<!-- </body>

</html> -->

<%- include('footer'); -%>

<!--
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci blanditiis nostrum, beatae dolores veniam fuga architecto, accusantium nesciunt doloribus eaque ad, hic eos harum optio cumque odio. Quis, nemo. Recusandae. 
-->


<!-- 
    Features
        Signup
        Contact Us: through email
        Add, edit and Delete notes
        Can use the PixaBay API to give a new image to each note
        Can add date select feature
        Topics tags
        Search by tags
        Different ways to see all the note:
            like grid or one by one

 -->





























