

<!-- Import the header module -->
<%- include('header'); -%>

    <!-- Navigation -->
    <article class="nav">
        <!-- Logo -->
        <article class="logo neonText">
            <h1><a href="/" >NEON</a></h1>
        </article>

    </article>

    <!-- =========  Filter    ============== -->
    <article class="filter">
        <p>Filters: </p>
        <a  class="btn btn-one" href="/">All</a>
        <a  class="btn btn-one" href="/wisdom">Wisdom</a>
        <a  class="btn btn-one" href="/Web">Web</a>
        <a  class="btn btn-one" href="/Problems">Problems</a>
        <a  class="btn btn-one" href="/books">Books</a>
    </article>

    <main class="main">
        <!-- Defining a template for adding new Journals -->
        <% if (noteBookHTML.length == 0) {   %>
            <p class="no-journal"> No journals available for this filter. You can add new journal by using the Add button below</p>
        <% } else {        %>
            <% noteBookHTML.forEach(function(item) {    %>

                <section class="card" id="card">
    
                    <form class="delete-journal" action="/delete" method="post">
                        <p class="tag">  <%= item.tag %>   </p>
                        <button class="delete-btn" type="submit" name="delete" value="<%= item.id %>"   onClick="makeRed()">&#10006;</button>
                    </form>
       
                    <h1>   <%= item.title %>   </h1>
                    <p>   
                        <%= item.textArea.substring(0, 100) + " ..." %> 
                        <a  class="read-more" href="/added/<%= item.title %> ">Read More</a>
                    </p>
        
                    <section class="day-time">
                        <i class="fa-solid fa-clock"></i>
                        <%= item.date %>   
                    </section>
    
                </section>
    
            <%  })  %>
        <% } %>
        
    </main>


    <div class="new-notes">
        <a href="/new"><i class="fas fa-plus"></i></a>
    </div>



<%- include('footer'); -%>







